:root{
 --color-green:#32CD32;
 --color-gray-200: #4F4F4F;
 --color-gray-300: #363636;
 --color-purple-300: #C38CFA;
 --color-purple-700: #7F50AD;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--color-gray-200);
}

header{
    background:var(--color-gray-300);
    margin: 0;
    padding: 30px;
}
header div{
    text-align: center;
}
header div a{
    text-decoration: initial;
    margin-right: 30px;
    color: white;
}

header div a:hover{
    color: var(--color-purple-300);
    transition: 300ms; 
}